<h1>Combine Time Period</h1>
This notebook takes all files named station_status_2023_11_16*.csv and appends them into one csv

# import all data files for 11/16/23

In [33]:
from pathlib import Path
import pandas as pd
import pytz
import datetime

In [34]:
df_station_status = pd.DataFrame()

In [35]:
source venv/bin/activate

SyntaxError: invalid syntax (3848158201.py, line 1)

In [36]:
for file_path in Path('../data').glob('station_status_2023_11_16*.csv'):
    df = pd.read_csv(file_path)
    df_station_status = pd.concat([df_station_status,df], ignore_index=True)
df_station_status

,vehicle_docks_available,num_bikes_disabled,num_scooters_available,num_docks_available,num_docks_disabled,is_installed,is_renting,last_reported,num_bikes_available,num_scooters_unavailable,vehicle_types_available,num_ebikes_available,station_id,is_returning
0,"[{'vehicle_type_ids': ['1', '2'], 'count': 7}]",0,0.0,7,1,1,1,1700169800,3,0.0,"[{'count': 3, 'vehicle_type_id': '1'}, {'count...",0,a3b1c47b-a135-11e9-9cda-0a87ae2ba916,1
1,"[{'vehicle_type_ids': ['1', '2'], 'count': 7}]",1,0.0,7,0,1,1,1700169804,7,0.0,"[{'count': 3, 'vehicle_type_id': '1'}, {'count...",4,a3afbe2e-a135-11e9-9cda-0a87ae2ba916,1
2,"[{'vehicle_type_ids': ['1', '2'], 'count': 9}]",1,0.0,9,0,1,1,1700169804,5,0.0,"[{'count': 5, 'vehicle_type_id': '1'}, {'count...",0,a60781db-2bec-4a15-a4a2-363297aefcec,1
3,"[{'vehicle_type_ids': ['1', '2'], 'count': 2}]",1,4.0,2,0,1,1,1700169804,11,0.0,"[{'count': 7, 'vehicle_type_id': '1'}, {'count...",4,94788869-1849-43f6-99e1-2eacbc3fab03,1
4,"[{'vehicle_type_ids': ['1', '2', '3'], 'count'...",2,0.0,9,0,1,1,1700169801,8,0.0,"[{'count': 4, 'vehicle_type_id': '1'}, {'count...",4,a3a565b1-a135-11e9-9cda-0a87ae2ba916,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21651,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,1,0,1,1,1674445503,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1715823822654071770,1
21652,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,0.0,7,0,1,1,1674445462,2,0.0,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",2,1563698701206292480,1
21653,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,2,0,1,1,1674445616,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1674190591734328324,1
21654,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,4,0,1,1,1683222626,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1806749735787774444,1
21655,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,2,0,1,1,1674445500,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1674190634684001360,1

# Prepare Data for Analysis

### add timestamp

In [37]:
# set the time zone
central_tz = pytz.timezone('America/Chicago')

# Convert Unix timestamps to datetime objects and localize to UTC
df_station_status['timestamp'] = pd.to_datetime(df_station_status['last_reported'], unit='s', utc=True)

# Convert to Central Time
df_station_status['timestamp'] = df_station_status['timestamp'].dt.tz_convert(central_tz)

# Format the datetime objects
df_station_status['timestamp'] = df_station_status['timestamp'].dt.strftime('%m/%d/%Y %I:%M %p')
df_station_status

,vehicle_docks_available,num_bikes_disabled,num_scooters_available,num_docks_available,num_docks_disabled,is_installed,is_renting,last_reported,num_bikes_available,num_scooters_unavailable,vehicle_types_available,num_ebikes_available,station_id,is_returning,timestamp
0,"[{'vehicle_type_ids': ['1', '2'], 'count': 7}]",0,0.0,7,1,1,1,1700169800,3,0.0,"[{'count': 3, 'vehicle_type_id': '1'}, {'count...",0,a3b1c47b-a135-11e9-9cda-0a87ae2ba916,1,11/16/2023 03:23 PM
1,"[{'vehicle_type_ids': ['1', '2'], 'count': 7}]",1,0.0,7,0,1,1,1700169804,7,0.0,"[{'count': 3, 'vehicle_type_id': '1'}, {'count...",4,a3afbe2e-a135-11e9-9cda-0a87ae2ba916,1,11/16/2023 03:23 PM
2,"[{'vehicle_type_ids': ['1', '2'], 'count': 9}]",1,0.0,9,0,1,1,1700169804,5,0.0,"[{'count': 5, 'vehicle_type_id': '1'}, {'count...",0,a60781db-2bec-4a15-a4a2-363297aefcec,1,11/16/2023 03:23 PM
3,"[{'vehicle_type_ids': ['1', '2'], 'count': 2}]",1,4.0,2,0,1,1,1700169804,11,0.0,"[{'count': 7, 'vehicle_type_id': '1'}, {'count...",4,94788869-1849-43f6-99e1-2eacbc3fab03,1,11/16/2023 03:23 PM
4,"[{'vehicle_type_ids': ['1', '2', '3'], 'count'...",2,0.0,9,0,1,1,1700169801,8,0.0,"[{'count': 4, 'vehicle_type_id': '1'}, {'count...",4,a3a565b1-a135-11e9-9cda-0a87ae2ba916,1,11/16/2023 03:23 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21651,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,1,0,1,1,1674445503,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1715823822654071770,1,01/22/2023 09:45 PM
21652,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,0.0,7,0,1,1,1674445462,2,0.0,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",2,1563698701206292480,1,01/22/2023 09:44 PM
21653,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,2,0,1,1,1674445616,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1674190591734328324,1,01/22/2023 09:46 PM
21654,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,4,0,1,1,1683222626,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1806749735787774444,1,05/04/2023 12:50 PM
21655,"[{'vehicle_type_ids': ['1', '2'], 'count': 0}]",0,NaN,2,0,1,1,1674445500,0,NaN,"[{'count': 0, 'vehicle_type_id': '1'}, {'count...",0,1674190634684001360,1,01/22/2023 09:45 PM

In [38]:
#add calculated columns
df_station_status['n_classic'] = df_station_status['vehicle_types_available'].apply(
    lambda x: next((item['count'] for item in x if item['vehicle_type_id'] == '1'), 0))
df_station_status['n_electric'] = df_station_status['vehicle_types_available'].apply(
    lambda x: next((item['count'] for item in x if item['vehicle_type_id'] == '2'), 0))
df_station_status['n_all_bikes']=df_station_status['num_bikes_available']+df_station_status['num_bikes_disabled']
df_station_status.drop('vehicle_types_available',axis=1, inplace=True)
df_station_status['is_no_classic']=(df_station_status['n_classic']==0)
df_station_status['is_no_docks']=(df_station_status['num_docks_available']==0)
df_station_status['is_problem_station']= df_station_status['is_no_classic'] | df_station_status['is_no_docks']
df_station_status['station_id_len']=df_station_status['station_id'].str.len()

df_station_status.head()

TypeError: string indices must be integers

# Merge Station Info

In [16]:
df_stations = pd.merge(df_station_status, df_station_info, on='station_id')
df_stations.head()

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_ebikes_available,n_classic,n_electric,n_all_bikes,is_no_classic,is_no_docks,is_problem_station,station_id_len,name,lat,lon,capacity,short_name
0,a3a547b8-a135-11e9-9cda-0a87ae2ba916,5,0,10,1,4,1,5,False,False,False,36,63rd St Beach,41.780911,-87.576324,15,15491
1,a3af9a83-a135-11e9-9cda-0a87ae2ba916,13,0,2,0,13,0,13,False,False,False,36,Drake Ave & Montrose Ave,41.961154,-87.716569,15,KA1504000097
2,a3ac30c5-a135-11e9-9cda-0a87ae2ba916,6,1,8,0,6,0,7,False,False,False,36,Cottage Grove Ave & 51st St,41.803038,-87.606615,15,TA1309000067
3,a3addda0-a135-11e9-9cda-0a87ae2ba916,11,0,0,8,3,8,11,False,True,True,36,Kedzie Ave & 24th St,41.848193,-87.705412,11,KA1504000086
4,a3a3ace6-a135-11e9-9cda-0a87ae2ba916,1,0,13,0,1,0,1,False,False,False,36,Racine Ave & 18th St,41.858166,-87.656495,15,13164

In [17]:
#identify and remove public racks
df_stations['is_public_rack']=df_stations['name'].str[:11]=='Public Rack'
df_stations_divvy = df_stations[df_stations['is_public_rack']==False]
df_stations_divvy

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_ebikes_available,n_classic,n_electric,n_all_bikes,is_no_classic,is_no_docks,is_problem_station,station_id_len,name,lat,lon,capacity,short_name,is_public_rack
0,a3a547b8-a135-11e9-9cda-0a87ae2ba916,5,0,10,1,4,1,5,False,False,False,36,63rd St Beach,41.780911,-87.576324,15,15491,False
1,a3af9a83-a135-11e9-9cda-0a87ae2ba916,13,0,2,0,13,0,13,False,False,False,36,Drake Ave & Montrose Ave,41.961154,-87.716569,15,KA1504000097,False
2,a3ac30c5-a135-11e9-9cda-0a87ae2ba916,6,1,8,0,6,0,7,False,False,False,36,Cottage Grove Ave & 51st St,41.803038,-87.606615,15,TA1309000067,False
3,a3addda0-a135-11e9-9cda-0a87ae2ba916,11,0,0,8,3,8,11,False,True,True,36,Kedzie Ave & 24th St,41.848193,-87.705412,11,KA1504000086,False
4,a3a3ace6-a135-11e9-9cda-0a87ae2ba916,1,0,13,0,1,0,1,False,False,False,36,Racine Ave & 18th St,41.858166,-87.656495,15,13164,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643,1575949498093662914,1,1,7,1,0,0,2,True,False,True,19,Lavergne Ave & Division St,41.902513,-87.750869,9,NaN,False
1644,1594046418168009436,6,1,2,6,0,0,7,True,False,True,19,Elston Ave & Henderson St,41.941499,-87.701051,9,NaN,False
1650,1594046418168009438,1,0,7,1,0,0,1,True,False,True,19,Albany Ave & Belmont Ave,41.939638,-87.705263,9,NaN,False
1652,1594046456822715150,5,1,3,5,0,0,6,True,False,True,19,Francisco Ave & Hollywood Ave,41.984746,-87.701593,9,NaN,False
1661,1563698701206292480,1,1,7,1,0,0,2,True,False,True,19,Lamon Ave & Belmont Ave,41.939011,-87.749283,9,NaN,False

# Export for analysis

In [25]:
df_stations_divvy.to_csv("../results/master-station-status.csv", index=False)